/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #f9fafb;
}

/* === cabeçalho css === */
.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 60px 20px;
  text-align: center;
}

.header__title {
  font-size: 38px;
  margin-bottom: 10px;
  color: #111;
}

.header__title .highlight {
  color: #000;
  font-weight: 700;
}

.header__subtitle {
  color: #444;
  font-size: 20px;
  margin-bottom: 10px;
}

.header__description {
  color: #666;
  font-size: 17px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}


/* === GALERIA === */
.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* Tablet */
@media (min-width: 641px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* computador */
@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  cursor: pointer;
}
.gallery__caption {
  text-align: center;
  font-size: 16px;
  color: #444;
  margin-top: 8px;
  font-weight: 500;
}
.gallery__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.gallery__image:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

/* === LIGHTBOX === */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox.hidden {
  display: none;
}

.lightbox__close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.lightbox__close:hover {
  color: #ccc;
}

.lightbox__image {
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
}

/* === FOOTER === */
.footer {
  background-color: #111;
  color: #eee;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
}

.footer__text {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__socials a img {
  width: 28px;
  height: 28px;
  filter: invert(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer__socials a img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

/* === FILTROS  de seleção=== */
.filter-section {
  text-align: center;
  margin: 30px auto 0;
}

.filter-label {
  font-size: 18px;
  color: #333;
  margin-right: 10px;
  font-weight: 500;
}

.filter-select {
  font-size: 16px;
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filter-select:hover {
  border-color: #555;
}
